  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <%= form_for(@task) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.submit class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
